containers/**
!containers/verdantics
!containers/verdantics/**
!containers/mattermost
!containers/mattermost/credentials
!containers/mattermost/credentials/**

node_modules
.TODO
.DS_Store
token.txt
password.txt
